asgiref==3.2.3
astroid==2.4.1
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.3
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cycler==0.10.0
data==0.4
decorator==4.4.2
Django==3.0.2
django-grappelli==2.13.3
djangorestframework==3.11.0
Flask==1.1.2
fpdf==1.7.2
funcsigs==1.0.2
future==0.18.2
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
latex==0.7.0
lazy-object-proxy==1.4.3
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
more-itertools==8.6.0
mpmath==1.1.0
numpy==1.19.2
packaging==20.8
pdfkit==0.6.1
Pillow==7.2.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pylint==2.5.2
pyodbc==4.0.30
pyparsing==2.4.7
pyTelegramBotAPI==3.6.7
pytest==5.1.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
rope==0.17.0
scipy==1.5.2
selenium==3.141.0
shutilwhich==1.1.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.0
sympy==1.6.2
tempdir==0.7.1
toml==0.10.1
urllib3==1.25.8
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
